*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
    list-style: none;
    text-decoration: none;
  }
body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
}

.card {
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    border-radius: .3rem;
    padding: 1rem;
    position: relative;
    transition: all .4s;
    cursor: pointer;
}
img {
   width: 100%; 
   height: 100%;
   object-fit: cover;
   border-radius: .3rem ;
}

.text {
    position: relative;
    left: -10%;
    width: 80%;
    margin-top: 1rem;
    line-height: 1;
    overflow: hidden;
}
@keyframes marquee {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(-150%);
    }
}
.text h2 {
    font-size: 1.7rem;
    animation: marquee 15s linear infinite;
    overflow-x: hidden;
}
.text p {
    font-size: 1rem;
    margin-top: 0.6rem;
    font-weight: 500;
    color: grey;
}

.play-icon {
    position: absolute;
    top: 82%;
    right: 12%;
    transform: translateY(10px);
    filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.4));
    opacity: 0;
    transition: all 0.4s ease;
}

.card:hover .play-icon{
    opacity: 1;
    transform: translateY(0);
}
.card:hover {
    background-color: #222;
}

.circle {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: rgb(50, 233, 50);
    display: grid;
    place-items: center ;
    transform: scale(0.95);
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid black;
    transform: rotate(90deg);
    margin-left: 0.2rem;
}

.play-icon:hover .circle {
    cursor: auto;
    transform: scale(1.05);
}

.song-title {
    animation: marquee 10s linear infinite;
}
@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-150%);
    }
}

.toolbar {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    justify-content: space-evenly;
}